{% extends 'base.html.twig' %}

{% block body %}
    <h1>Operations: </h1>
    <ul>
        <li><a href="{{ path('app_calculator_index') }}">Index</a></li>
        <li><a href="{{ path('app_calculator_form') }}">Sum</a></li>
        <li><a href="">Subtract</a></li>
        <li><a href="">Multiply</a></li>
    </ul>

{% endblock %}