{% extends "base.html.twig" %}

{% block body %}
    <h1> Hello again !!! </h1>

    <form method="post" action="{{ path('app_user_doCreate') }}">
        <input type="text" name="usuario"><br>
        <input type="email" name="correo"><br>
        <input type="submit" value="ok">
    </form>

{% endblock %}